.bg-image {
  background-image: url(../../assets/images/404.svg);
  height: 100% !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}
.PhoneInputInput {
  background: transparent !important;
  outline: none;
  outline:focus {
    outline: none;
  }
}
.grad-bg{
  background: linear-gradient(
106.25deg
,#9d50bb,#6e48aa);
border-radius: 16px;
}
.form-box {
  width: 425px !important;
  margin: 40px auto;
  background: linear-gradient(
    135.61deg,
    rgba(0, 0, 0, 0.14) -94.15%,
    rgba(0, 0, 0, 0) 102.34%
  );
  backdrop-filter: blur(20px);
  border-radius: 16px;
}

@media (min-width: 1550px) and (max-width: 1950px) {
  .form-box {
    width: 450px !important;
    margin: 150px auto;
  }
}

@media (min-width: 1951px) and (max-width: 2560px) {
  .form-box {
    width: 470px !important;
    margin: 190px auto;
  }
}
