.ide {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 16px;
  width: 859px;

  color: rgba(187, 200, 200, 1);
}

.bg-color {
  background-color: rgba(29, 33, 38, 1);
}

.test-cases {
  width: 290px;
  height: 424px;
  border-radius: 4px;
}

.input {
  width: 250px;
  height: 424px;
  border-radius: 4px;
}

.output {
  width: 250px;
  height: 424px;
  border-radius: 4px;
}

.download-container {
  font-size: 1em;
  background-color: rgba(21, 21, 21, 1);
  border-radius: 8px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  height: 40px;
  width: 190px;
  display: flex;
}
.download {
  background: rgba(152, 79, 185, 1);
  height: 100%;
  width: 2.75rem;
}
.icon {
  margin: 0 0.3rem;
}
.run-btn {
  background: #27ae60;
  border-radius: 64px;
  padding: 12px 12px;
  /* margin-top: 379px; */
}
.upload-btn {
  font-weight: 400;
  background: #984fb9;
  border-radius: 8px;
  width: 130px;
  height: 45px;
  padding: 11px 22px;
  cursor: pointer;
}
.text-area {
  background-color: rgba(29, 33, 38, 1);
  resize: none;
  outline: none;
  height: 19.5rem;
  width: 14.1rem;
  padding-right: 2rem;
}
.text-area::-webkit-scrollbar {
  width: 12px;
}
.text-area::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border-radius: 48px;
}
.text-area::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 50px rgba(0, 0, 0, 1);
  border-radius: 48px;
}

@media screen and (min-width: 1550px) {
  .ide {
    font-family: "DM Sans";
    font-weight: 400;
    font-size: 22px;
    width: 1179px;
    color: rgba(187, 200, 200, 1);
  }

  .test-cases {
    width: 390px;
    height: 624px;
    border-radius: 4px;
  }

  .input {
    width: 360px;
    height: 624px;
    border-radius: 4px;
  }

  .output {
    width: 360px;
    height: 624px;
    border-radius: 4px;
  }

  .upload-btn {
    background: #984fb9;
    border-radius: 8px;
    width: 170px;
    height: 60px;
    padding: 16px 30px;
    cursor: pointer;
  }

  .download-container {
    font-size: 1em;
    background-color: rgba(21, 21, 21, 1);
    border-radius: 8px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    height: 60px;
    width: 240px;
    display: flex;
  }
  .download {
    background: rgba(152, 79, 185, 1);
    height: 100%;
    width: 3.5rem;
  }
  .run-btn {
    background: #27ae60;
    border-radius: 64px;
    padding: 20px 20px;
    /* margin-top: 379px; */
  }
}
