.stile {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 540px;
  height: auto;
  background: rgba(0, 0, 0, 0.8);
  box-shadow: 24px;
  padding: 32px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  border-radius: 24px;
  color: white;
  outline: none !important;
}

.label-style {
  display: inline-block;
  background: #bb6bd9;
  border-radius: 0.5rem;
  cursor: pointer;
}
.input-file {
  background: #4f4f4f;
  border-radius: 0.5rem;
}
.upload-btn-modal {
  background: #9b51e0;
  border-radius: 0.5rem;
}

.form-box-modal {
  width: 425px !important;
  margin: 40px auto;
  background: linear-gradient(
    135.61deg,
    rgba(0, 0, 0, 0.74),
    rgba(0, 0, 0, 0.54)
  );
  backdrop-filter: blur(20px);
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 1550px) and (max-width: 1950px) {
  .form-box-modal {
    width: 450px !important;
    margin: 150px auto;
  }
}

@media (min-width: 1951px) and (max-width: 2560px) {
  .form-box-modal {
    width: 470px !important;
    margin: 190px auto;
  }
}
