@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.font-robo {
  font-family: "Roboto", sans-serif;
}

.brdr {
  border-top: 2px solid rgba(242, 242, 242, 0.435);
}

.activeclassname {
  background: #363636;
}
